/* Enter your custom styles here */
/*.sapContrast span.sapMBtnInner.sapMBtnEmphasized {
    background-image: none;
    background-color: #5496cd;
    border-color: #418ac7;
    color: #ffffff;
    text-shadow: 0 0 0.125rem rgba(0,0,0,0.5);
}*/
.myCustomButton {

    background-image: none !important;
    background-color: #5496cd !important;
    border-color: #418ac7 !important;
    color: #ffffff !important;
    text-shadow: 0 0 0.125rem rgba(0,0,0,0.5) !important;
    
 
}
.wordWrapRemove{
	word-break: break-word  !important;
}

/*.sapMText.sapMObjLTitle, .sapUiMedia-Std-Phone .sapMText.sapMObjLTitle, html .sapUiContainer-Narrow .sapMText.sapMObjLTitle {
    word-break: break-word;
}*/

html.sap-phone .sapMText.sapMObjLTitle,
.sapUiMedia-Std-Phone .sapMText.sapMObjLTitle,
html .sapUiContainer-Narrow .sapMText.sapMObjLTitle {
  word-break: break-word !important;
}

.customeIcon{
    background-color: #64E4CE;
}
